<!--/**
    Description of gestion_usuarioscli.html

    @author Víctor Perete <fusiodarts.com>
    Contacto: contacto@fusiodarts.com
-->

{if condition="$fsc->iframe!=1"}
    {include="header"}
{else}
    {include="header2"}
{/if}

<style type="text/css">
    .content-wrapper, .right-side {
        background-color: #ecf0f5 !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var modal = {$fsc->modal};
        $(function () {
        if(modal==1){
                $("#modal_cliente").modal('show');
                $('#ac_cliente').focus();     
            }
        });
        $("#b_nuevo_usuario").click(function (event) {
            event.preventDefault();
            $("#modal_cliente").modal('show');
            $('#ac_cliente').focus();
        });
        $('#f_buscar_lineas').keyup(function() {
            buscar_lineas();
        });
        $('#f_buscar_lineas').submit(function(event) {
            event.preventDefault();
            buscar_lineas();
        });
        $('.limpiar').submit(function(event) {
            event.preventDefault();
            clean();
        });

        $(".objetivocuenta_search").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_objetivocuenta',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if ((document.f_custom_search.objetivocuenta_s.value != suggestion.data && suggestion.data != '') || (document.f_custom_search.emailcuenta.value != suggestion.data && suggestion.data != ''))
                    {
                        document.f_custom_search.objetivocuenta_s.value = suggestion.data;
                        document.f_custom_search.submit();
                    }
                }
            }
        });
        $(".emailcuenta_search").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_emailcuenta',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_custom_search.emailcuenta_s.value != suggestion.data && suggestion.data != '')
                    {
                        document.f_custom_search.emailcuenta_s.value = suggestion.data;
                        document.f_custom_search.submit();
                    }
                }
            }
        });
        $(".ac_cliente_search").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_cliente',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_custom_search.codcliente_s.value != suggestion.data && suggestion.data != '')
                    {
                        document.f_custom_search.codcliente_s.value = suggestion.data;
                        document.f_custom_search.submit();
                    }
                }
            }
        });
        $("#ac_cliente").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_cliente',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_nuevo_usuario.codcliente.value != suggestion.data)
                    {
                        document.f_nuevo_usuario.codcliente.value = suggestion.data;
                    }
                }
            }
        });
    });
    function password(pwd)
    {
        alert(strlen(pwd));
    }
    function clean()
    {
        document.f_custom_search.ac_cliente_search.value = '';
        document.f_custom_search.objetivocuenta_search.value = '';
        document.f_custom_search.emailcuenta_search.value = '';
        document.f_custom_search.codcliente_s.value = '';
        document.f_custom_search.objetivocuenta_s.value = '';
        document.f_custom_search.emailcuenta_s.value = '';
        document.f_custom_search.submit();
        document.f_custom_search.ac_cliente_search.focus();
    }
    function buscar_lineas()
    {
        if(document.f_buscar_lineas.buscar_lineas.value == '')
        {
            $('#search_results').html('');
        } else
        {
            $.ajax({
                type: 'POST',
                url: '{$fsc->url()}',
                dataType: 'html',
                data: $('form[name=f_buscar_lineas]').serialize(),
                success: function (datos) {
                    var re = /<!--(.*?)-->/g;
                    var m = re.exec( datos );
                    if (m[1] == document.f_buscar_lineas.buscar_lineas.value)
                    {
                        $('#search_results').html(datos);
                    }
                }
            });
        }
    }

</script>

<form class="form" name="f_custom_search" action="{$fsc->url()}" method="post">

    {if condition="$fsc->iframe!=1"}
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
            <h1>
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                Gestión de usuarios de Clientes
            </h1>
            </div>
        </div>
    </div>
    {/if}

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-2">
                        <!--Barra con Boton Nuevo-->
                        <div class="btn-group" style="margin: 0px 0px 10px 10px;">
                            {if condition="$fsc->iframe=='1'"}
                            <a class="btn btn-sm btn-success" href="index.php?page=gestion_usuario&codcliente={$_REQUEST['codcliente_s']}&iframe=1&ac_cliente={$_REQUEST['ac_cliente']}">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs">&nbsp; Nuevo</span>
                            </a>
                            {else}
                                {if condition="$fsc->codcliente"}
                                <a class="btn btn-sm btn-success" href="index.php?page=gestion_usuario&codcliente={$fsc->codcliente}&iframe=0&ac_cliente={$_REQUEST['ac_cliente']}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-xs">&nbsp; Nuevo</span>
                                </a>
                                {else}
                                <a id="b_nuevo_usuario" class="btn btn-sm btn-success" href="#">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="hidden-xs">&nbsp; Nuevo</span>
                                </a>
                                {/if}
                            {/if}
                            {loop="$fsc->extensions"}
                            {if="$value->type=='button'"}
                            <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                            {/if}
                            {/loop}
                        </div>
                    </div>
                    {if condition="$fsc->iframe!=1"}
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group">
                                {if="$fsc->cliente"}
                                <input class="ac_cliente_search form-control" type="text" name="ac_cliente_search" value="{$fsc->clientes_s->nombre}" placeholder="Cualquier cliente" autocomplete="off"/>
                                {else}
                                <input class="ac_cliente_search form-control" type="text" name="ac_cliente_search" placeholder="Cualquier cliente" autocomplete="off"/>
                                {/if}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="clean()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group">
                                {if="$fsc->cuenta"}
                                <input class="objetivocuenta_search form-control" type="text" name="objetivocuenta_search" value="{$fsc->objetivo}" placeholder="Cualquier objetivo" autocomplete="off"/>
                                {else}
                                <input class="objetivocuenta_search form-control" type="text" name="objetivocuenta_search" placeholder="Cualquier objetivo" autocomplete="off"/>
                                {/if}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="clean()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                {if="$fsc->cuenta"}
                                <input class="emailcuenta_search form-control" type="text" name="emailcuenta_search" value="{$fsc->email}" placeholder="Cualquier email" autocomplete="off"/>
                                {else}
                                <input class="emailcuenta_search form-control" type="text" name="emailcuenta_search" placeholder="Cualquier email" autocomplete="off"/>
                                {/if}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="clean()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    {/if}
                    <!--FIN Barra nuevo-->
                </div>
            </div>
        <div class="box-body">
            <input type="hidden" name="codcliente_s" value="{$fsc->clientes_s->codcliente}"/>
            <input type="hidden" name="objetivocuenta_s" value="{$fsc->objetivo}"/>
            <input type="hidden" name="emailcuenta_s" value="{$fsc->email}"/>

            <div>
                <div>
                    <!--Listado-->
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-left">Cuenta</th>
                                    <th class="text-left">Cliente</th>
                                    <th class="text-left">Objetivo</th>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-left">Email</th>
                                    <th class="text-left">Usuario/ID</th>
                                    <th class="text-left">Observaciones</th>
                                </tr>
                            </thead>
                            {loop="$fsc->listadocuentas"}
                            <tr>
                                <td class="text-left">
                                   <a value="{$value->codcuenta}" href="index.php?page=gestion_usuario&editarcuenta={$value->codcuenta}&iframe={$fsc->iframe}&codcliente={$value->codcliente}">{$value->codcuenta}</a>
                                </td>
                                <td class="text-left">
                                    <a href="index.php?page=ventas_cliente&cod={$value->codcliente}" target="_blank" class="fa fa-user-secret"></a>&nbsp;{$fsc->get_client_name($value->codcliente)}
                                </td>
                                <td class="text-left">{$value->objetivocuenta}</td>
                                <td class="text-left">{$value->descripcioncuenta}</td>
                                <td class="text-left">{$value->emailcuenta}</td>
                                <td class="text-left">{$value->usuariocuenta}</td>
                                <td class="text-left">{$value->obscuenta}</td>
                            </tr>
                            {/loop}
                        </table>
                    </div>
                    <!--FIN listado cuentas-->
                </div>        
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</form>
{if condition="$fsc->iframe!=1"}
    {include="footer"}
{/if}


<div class="modal" id="modal_cliente">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-search"></span>
                    &nbsp; Selecciona el cliente
                </h4>
                <p class="help-block">
                    Busca y selecciona el cliente o bien crea uno nuevo usando
                    el recuadro en azul. Además, puedes cambiar las
                    <a href="index.php?page=ventas_clientes_opciones">opciones para nuevos clientes</a>.
                </p>
            </div>
            <div class="modal-body">
                <form name="f_nuevo_usuario" action="index.php?page=gestion_usuarioscli" method="post" class="form">
                    <input type="hidden" name="codcliente"/>
                    <input type="hidden" name="iframe" value="{$fsc->iframe}"/>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" placeholder="Buscar" autocomplete="off"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>